<div class="productView-free-shipping-container">
    <p style="background-image:url({{cdn 'webdav:free-shipping-icon.svg'}})" class="productView-free-shipping-message">FREE Standard Shipping <a href="/shipping-return-policy/" title="shipping details" onclick="document.querySelector('.productView-free-shipping-details').classList.toggle('show'); return false;">Details</a></p>
    <article class="productView-free-shipping-details">
        <a href="#" class="closeBtn"  onclick="document.querySelector('.productView-free-shipping-details').classList.toggle('show'); return false;">&#10006;</a>
        <h1><strong>FREE</strong> Standard Shipping</h1>

        <p>Free shipping is valid on any order shipped to a single address in the mainland USA. Standard shipping is covered. Overnight or 2-day delivery will cost extra.</p>
        <p>Our products are bulky and heavy. Free shipping is hard and expensive.</p>
        <p><a href="/shipping-return-policy/">Read More About How We Do It</a></p>
    </article>
</div>
