<section class="content content--blue content--centered contact-form fullwidth">
  <div class="container">
    <div class="contact-form__desktop klaviyo-form-HFMrDX"></div>
    <div class="contact-form__mobile-only">
      <h3>Have questions about your project?</h3>
      <p>Call us at <a href="tel:{{ theme_settings.klaviyo_cta_phone }}">{{ phoneNumber theme_settings.klaviyo_cta_phone }}</a></p>
      <a class="button" href="tel:{{ theme_settings.klaviyo_cta_phone }}">Call to Discuss Your Project</a>
    </div>
  </div>
</section>
