<section class="installer installer--home">
  <div class="container">
      <img src="https://www.secondskinaudio.com/content/Car-Broken-into-Parts-600.jpg" class="installer--graphic" alt="Car broken into parts" />
      <div class="installer__content-wrapper">
                  <h1 class="h3">Learn from the Second Skin Sound Experts</h1>
                  <p>The Second Skin Owner’s Manual is overflowing with guides and tips to help you get the best results for your soundproofing project.</p>
                  <a class="btn-new btn-new--primary" href="/the-owners-manual/">Learn to Master Sound</a>
              </div>
          </div>
      </div>
  </div>
</section>
