<section class="content content--light">
  <h2>Designer Acoustic Panels</h2>
  <div class="flex-items">
    <picture>
      <source type="image/webp" media="(min-width:981px)" srcset="{{cdn 'webdav:acoustic-panels/designer-panels.webp'}}">
      <source type="image/webp" media="(max-width:980px)" srcset="{{cdn 'webdav:acoustic-panels/designer-panels-mobile.webp'}}">
      <source type="image/jpg" media="(max-width:980px)" srcset="{{cdn 'webdav:acoustic-panels/designer-panels-mobile.jpg'}}">
        <img type="image/jpg" src="/content/acoustic-panels/designer-panels.jpg" alt="Designer Acoustic Panels">
    </picture>
    <div>
      <p>Second Skin’s Acoustic Pro wall and ceiling panels use designer fabrics, and have the cutting edge look preferred by the architectural design community. Say no to cheap wood framing with cloth stretched over it. Your home or office deserves the durability and the ease of maintenance that only 
      <a href="/acoustics/fabric-wrapped-acoustic-panels/">fabric wrapped panels</a> can bring. And now Acoustic Pro panels feature an even wider range of customization options, so you get to decide the size, shape, fabric, and colors based on your specific needs while solving your sound reverberation problems.</p>
    </div>
  </div>
</section>

<section class="content content--light reverse">
  <h2>Reduce Room Echoes</h2>
  <div class="flex-items">
    <picture>
      <source type="image/webp"  media="(min-width:981px)" srcset="{{cdn 'webdav:acoustic-panels/reduce-echos.webp'}}">
      <source type="image/webp"  media="(max-width:980px)" srcset="{{cdn 'webdav:acoustic-panels/reduce-echos-mobile.webp'}}">
      <source type="image/jpg"  media="(max-width:980px)" srcset="{{cdn 'webdav:acoustic-panels/reduce-echos-mobile.jpg'}}">
      <img type="image/jpg" src="/content/acoustic-panels/reduce-echos.jpg" alt="Reduce echos image">
    </picture>
    <div class="dark">
      <p>A room with bad acoustics can be as disappointing as Game of Thrones season 8. But fortunately for those wanting to know 
      <a href="/acoustics/reduce-echo-in-a-room/">how to reduce echoes in a room</a>, this problem is one we still have time to fix.
      All you need is the proper square footage of acoustic panels, a little know-how on how to place them, and two working arms. We’ve got you covered on the first two.</p>
      <a href="/acoustics/acoustic-panels/acoustic-pro-fabric-wrapped-panel" class="btn-new btn-new--primary">Shop Acoustic Panels</a>
    </div>
  </div>
</section>

<section class="content content--light">
  <h2>Improve Sound Quality</h2>
  <div class="flex-items">
    <picture class="chart">
      <source type="image/webp" media="(min-width:981px)" srcset="{{cdn 'webdav:acoustic-panels/chart.webp'}}">
      <source type="image/webp" media="(max-width:980px)" srcset="{{cdn 'webdav:acoustic-panels/chart-mobile.webp'}}">
      <source type="image/jpg" media="(max-width:980px)" srcset="{{cdn 'webdav:acoustic-panels/chart-mobile.jpg'}}">
      <img type="image/jpg" src="/content/acoustic-panels/chart.jpg" alt="Improve Sound Quality chart">
    </picture>
    <div class="margin-left-60">
      <p>Sometimes the stakes are too high to cut corners on sound quality. When recording audio or designing an auditorium, planning for proper acoustics will save you time, money, and heartache.
      </p>
    </div>  
  </div>
</section>

<section class="content content--light reverse productivity">
  <h2>Increase Office Productivity</h2>
  <div class="flex-items">
    <picture>
      <source type="image/webp" media="(min-width:981px)" srcset="{{cdn 'webdav:acoustic-panels/productivity.webp'}}">
      <source type="image/webp" media="(max-width:980px)" srcset="{{cdn 'webdav:acoustic-panels/productivity-mobile.webp'}}">
      <source type="image/jpg" media="(max-width:980px)" srcset="{{cdn 'webdav:acoustic-panels/productivity-mobile.jpg'}}">
      <img type="image/jpg" src="/content/acoustic-panels/productivity.jpg" alt="Photo of open office">
    </picture>
    <div class="dark">
      <p>The trend towards open office plans has increased the importance of sound absorbing materials and 
      <a href="/acoustics/">acoustics material</a> to prevent the buildup of reverberant noise. Studies show 
      that increasing noise in an office environment substantially reduces employee performance on cognitively 
      demanding tasks. Employers still want the open office for the collaboration and comradery built by a workforce
      that has frequent encounters. Don’t settle. Get both with proper <a href="/soundproofing/">sound proofing</a> and 
      acoustical treatments such as acoustic panels.</p>
      <a href="/acoustics/acoustic-panels/acoustic-pro-fabric-wrapped-panel" class="btn-new btn-new--primary">Shop Acoustic Panels</a>
    </div>
  </div>
</section>

<section class="content content--light more-section">
  <h2>More on Acoustic Panels</h2>
  <div class="flex-items">
    <section>
      <h3><a href="/acoustics/how-many-acoustic-panels/" class="link--h3">How many acoustic panels do I need?</a></h3>
      <p>There’s an easy answer and a complicated answer. We’ll start with the “non-acoustic consultant” answer, because sometimes you just need some basic guidance. </p>
      <a href="/acoustics/how-many-acoustic-panels/" class="btn-new btn-new--primary">Learn More</a>
    </section>
    <section>
      <h3><a href="/acoustics/where-to-install-acoustic-panels/" class="link--h3">Where should I install the acoustic panels?</a></h3>
      <p>Acoustic panel placement can feel complicated, but it actually can be quite easy!  If you’ve got a more average room, some quick advice is really all you need.</p>
      <a href="/acoustics/where-to-install-acoustic-panels/" class="btn-new btn-new--primary">Learn More</a>
    </section>
    <section>
      <h3><a href="/acoustics/how-to-install-acoustic-panels/" class="link--h3">How do I install acoustic panels?</a></h3>
      <p>The best way to install acoustic panels is with the Rotofast Snap-On Anchor system. Fast, easy, and included for free with any panels you order.</p>
      <a href="/acoustics/how-to-install-acoustic-panels/" class="btn-new btn-new--primary">Learn More</a>
    </section>
  </div>
</section>

{{> components/redesign/components/klaviyo-form }}

<section class="content content--light sound-solution">
  <h2 class="sound-solution-h2">We've got a sound solution for you!</h2>
  <div class="flex-items">
    <a href="/soundproofing/" class="soundproofing capitalize">Shop Soundproofing</a>
    <a href="/acoustics/" class="acoustics capitalize">Shop Acoustics</a>
  </div>
</section>
