<section class="content fullwidth dark not-soundproofing">
  <h2 class="text-initial title">Acoustic Materials for Acoustics (Not Soundproofing)</h2>
  <div>
    <p>We’ll start our lesson on acoustics by making one clear distinction — acoustic materials do not block sound.
      Sticking acoustic foam to the walls in your apartment will not keep the noise from your neighbor’s surround-sound
      entertainment system out of your living room. Acoustic materials do not <a href="/soundproofing/">soundproof</a>.
    </p>
    <p>So what do acoustic materials do? The simplest way to think about it is this: while sound blockers keep noise OUT
      of a given space and acoustic materials improve sound INSIDE of a space. They prevent echoes and unpleasant
      reverberation while improving the quality of sound that you want to hear.
    </p>
    <p>That’s why acoustic foam is common in recording studios. The sound waves from the musicians playing reaches the
      walls of the booth and instead of bouncing back and forth across the microphone, it’s absorbed by the foam on the
      walls. Less reverberations makes for a much clearer, cleaner sound. The same is true for movie theaters; just
      think of the last big blockbuster movie you saw. You probably didn’t notice the 
      <a href="/acoustics/acoustic-panels/">sound absorbing panels</a> hung on the
      walls — without those <a href="/acoustics/fabric-wrapped-acoustic-panels/">fabric wrapped panels</a>, the sounds of that loud action scene carry over into the dialogue, and you’re
      as lost as Leo DiCaprio in Inception. And the last thing that movie needs is garbled speech to help you keep up
      with the plot.
    </p>
  </div>
  <div class="photos">
    <img type="image/jpg" src="/content/acoustics-1.jpg" alt="">
    <img type="image/jpg" src="/content/acoustics-2.jpg" alt="">
    <img type="image/jpg" src="/content/acoustics-3.jpg" alt="">
  </div>
  <div class="photos-mobile">
    <img type="image/jpg" src="/content/acoustics-1-mobile.jpg" alt="">
    <img type="image/jpg" src="/content/acoustics-2-mobile.jpg" alt="">
    <img type="image/jpg" src="/content/acoustics-3-mobile.jpg" alt="">
  </div>
</section>
<section class="acoustics-standard content-types">
  <div class="acoustics-standard--wrapper">
    <span class="acoustics-standard--headline"><strong>There are two key strategies for improving sound quality with
        acoustic treatment:</strong></span>
    <div class="acoustics-standard--content-wrapper">
      <div class="acoustics-standard--content-wrapper--first">
        <h3 class="acoustics-standard--heading">Sound Absorption</h3>
        <p>Sound absorption turns sound waves into heat by transforming the relatively uniformly-patterned sound waves
          into random, disordered movement of molecules. Think of when you heat something in the microwave — it warms up
          by forcing the food’s molecules to bounce around randomly. Acoustic materials cause ordered sound movement to
          bounce in random directions within the foam, which generates a bit of heat and reduces the sound wave's energy.
        </p>
      </div>
      <div>
        <h3 class="acoustics-standard--heading">Sound Diffusion</h3>
        <p class="acoustics-standard--text">Like absorption, sound diffusion disrupts the path of sound waves. The
          difference is, sound diffusion is the
          process of spreading out sound waves throughout a space evenly so as to lessen their energy. Whereas a piece
          of
          acoustic foam board will absorb sound, a curved diffuser with a hard surface will distribute the sound
          throughout the room. Your typical room or commercial space doesn’t need to worry about diffusion. It’s really
          only relevant to broadcast studios, recording studios, and rooms with live performances.</p>
      </div>
    </div>
    <div class="acoustics-standard--img-wrap">
      <img class="acoustics-standard--img" type="image/jpg" src="/content/acoustics-reflection.jpg" alt="reflection">
      <img class="acoustics-standard--img" type="image/jpg" src="/content/acoustics-absorption.jpg" alt="absorption">
      <img class="acoustics-standard--img" type="image/jpg" src="/content/acoustics-diffusion.jpg" alt="diffusion">
    </div>
  </div>
</section>
<div class="acoustics-standard soundproofing">
  <div class="acoustics-standard--wrapper">
    <span class="acoustics-standard--headline"><strong>Before going any further into acoustics, let’s take a step back and
      differentiate it from soundproofing.</strong></span>
    <div class="acoustics-standard--content-wrapper">
      <div class="acoustics-standard--content-wrapper--first">
        <h3 class="acoustics-standard--heading">Soundproofing</h3>
        <p>Soundproofing creates barriers. By building dense, airtight barriers between spaces, you can prevent the
          passing of sound waves from one space to the other (at least so only a negligible amount of sound is heard).
        </p>
        <p>Soundproofing is effective when it achieves a high level of sound isolation, which can be measured by the
          <a href="/sound-blocking/stc-rating/">sound transmission class</a> (STC) rating. STC rating
          tells you how much sound a particular construction or
          material can stop. For reference, a wall with an STC rating of 25 won’t even block the sound of normal speech.
          Every 5 points of STC rating beyond that will make a clearly noticeable difference, and then once you get to
          where your wall construction is over 60, you’re effectively soundproof.
        </p>
      </div>
      <div>
        <h3 class="acoustics-standard--heading">Acoustics</h3>
        <p class="acoustics-standard--text">Whereas barrier materials are measured with STC ratings,
          <a href="/sound-absorbing/">sound absorbing material</a> is measured by 
          <a href="/acoustics/what-is-nrc-rating/">noise reduction coefficient</a> (NRC).
          NRC tells you how much sound a material can absorb on a scale from 0 to 1, with 0 meaning the material absorbs
          no sound and 1 meaning the material absorbs all sound.
        </p>
        <p>Another concept to understand is reverberation time. Reverberation time (RT60) measures the amount of time after the
          source of the sound has stopped that it takes for that sound to reduce 60 decibels. The average person conflates 
          <a href="/acoustics/echo-vs-reverb/">reverb vs echo</a>
          as one and the same, but if you're reading about the details of acoustics... you aren't the average person.
          Still, we typically use the two terms interchangeably to communicate basic concepts. So put another way, RT60 measures
          how long the echoes last, or how long a sound wave bounces around inside a space. </p>
      </div>
    </div>
    <div class="acoustics-standard--img-wrap">
      <img class="hide-desktop" src="/content/acoustics-soundproofing-mobile-2.png" alt="">
      <img class="acoustics-standard--img hide-mobile" type="image/png" src="/content/acoustics-soundproofing.png"
        alt="soundproofing">
      <img class="acoustics-standard--img hide-mobile" type="image/png" src="/content/acoustics-acoustics.png"
        alt="sound acoustics">
    </div>
    <p>After getting familiar with these concepts, you’ll understand better why we focus on using sound absorption
      materials for echo control and improving speech intelligibility, not blocking sound. Adding sound absorbers is
      particularly effective in rooms with lots of hard surfaces, as you get diminishing returns as you continue to add
      absorption. The key is to get to the right amount for the sound quality needed by the space. For example, big
      rooms with high ceilings and lots of hard surfaces absolutely require additional sound absorbers for good sound
      quality. Think of a convention center, an auditorium, or a house of worship— where without sound absorption, noise
      continuously builds up, and you can no longer hear the speaker. Acoustic materials are the answer for better
      speech intelligibility and sourcing. By sourcing, I mean that you’re able to tell where exactly the sound is
      coming from. Speakers are much easier to understand when you hear them directly instead of hearing a wall
      reflecting the sound of their voice.
    </p>
    <p>Earlier we mentioned the diminishing returns you see from adding acoustic materials for more sound absorption. As
      a quick rule, doubling the amount of acoustic material will reduce noise by 3 decibels in the average room and cut
      reverberation time in half. It takes at least a doubling of materials to achieve a noticeable sound reduction. But
      you can only double so many times before you run out of space to stand!</p>
  </div>
</div>
<section class="acoustics-standard improve">
  <div class="acoustics-standard--wrapper">
    <div class="">
      <h2 class="improve__headline">How to Improve Room Acoustics</h2>
      <p>Let’s say one of the kids is off to college and you decide to convert their bedroom into a home theater (great
        idea!). Where do you start? The first step is to measure the full space. In the acoustics world, rooms with
        measurements that are multiples of each other make things more difficult. For example, a 10 x 10 x 10 room will
        naturally have bad acoustics. The same goes for a room that’s 10 x 20 x 10.The golden ratio for acoustics is 1
        (height) x 1.6 (width) x 2.3 (length. Achieving this ratio is not always practical (or even possible), but it
        knowing it on the front-end is helpful with acoustics for new construction.</p>

      <p>Once you have measurements, it’s time to test the space. Evaluate what your challenges will be — will the room
        require sound absorption or sound blocking? Do you need to keep outside noise out of the space or is the bigger
        problem <a href="/acoustics/reduce-echo-in-a-room/">how to stop echo in a room</a>? The biggest mistake folks can 
        make is solving the wrong problem, which leads to lots of effort and nobody any better off.</p>

      <p>Next, do some due diligence on placement and materials. Music rooms require different panel placement
        than <a href="/acoustics/soundproof-home-theater/">home theater acoustic panels</a> and nursery rooms require 
        a different treatment than an outdoor garage. For a professional
        space, you’re almost always looking at acoustic panels, because they look better, are more durable, and perform
        twice as well per volume. Acoustic panels can get complicated for large rooms, rooms with tall ceilings, or
        unusually designed spaces, but there are a few rules of thumb for standard rooms:</p>
    </div>
    <div class="improve__content-wrap">
      <a class="improve__img-wrapper" href="/acoustics/acoustic-panels/acoustic-pro-fabric-wrapped-panel">
        <img class="improve__img" type="image/jpg" src="/content/acoustics-acoustic-panel.jpg" alt="acoustic panel">
      </a>
      <div class="improve__content-text-wrap">
        <div>
          <h3 class="acoustics-standard--heading">Follow the rule of 40%</h3>
          <p>Multiply length x width of the room to get the square footage. Multiply that square footage by 40%. That’s
            how
            many square feet of acoustic panels you need for a small to medium sized room. While we acoustics experts may 
            hem and haw about the exceptions,
            the 40% rule is good enough for your typical home office, conference room, or other standard space.</p>
        </div>
        <div>
          <h3 class="acoustics-standard--heading">Spread Foam Panels Out</h3>
          <p>Stagger placement of your acoustic panels so they aren’t all bunched up. Acoustic panels should be on at
            least
            2 adjacent walls, although 3 or 4 walls is fine if that looks best aesthetically. Best practice is to have
            at
            least 12” of space between panels. As low as 3” is fine, and won’t reduce performance too much.</p>
        </div>
      </div>
    </div>
    <div class="improve__cta-wrap">
      <a class="improve__cta" href="/acoustics/acoustic-panels/acoustic-pro-fabric-wrapped-panel">SHOP ACOUSTIC
        PANELS</a>
    </div>
  </div>
</section>
<div class="acoustics-standard soundproofing myths">
  <div class="acoustics-standard--wrapper">
    <h2 class="myths__headline">Acoustic Myths</h2>
    <span class="myths__byline">There are a number of myths out there on do-it-yourself acoustic hacks, but most of them
      have no merit at all.</span>
    <span class="myths__byline">Let’s take a look at a few of the most common:</span>
    <div class="acoustics-standard--content-wrapper">
      <div class="acoustics-standard--content-item">
        <h3 class="acoustics-standard--heading">Bookshelves</h3>
        <p class="acoustics-standard--text">Adding a bookshelf to your wall will certainly introduce a diffuser to the
          space, but the problem is, you have no idea what the effect is. It’s difficult to measure how effective a
          material is at reducing sound when its surfaces are irregular. The goal of acoustics is to eliminate variables
          and get a mathematically-sound solution. And no, books do not absorb sound.</p>
      </div>
      <div class="acoustics-standard--content-item">
        <h3 class="acoustics-standard--heading">Egg Cartons</h3>
        <p class="acoustics-standard--text">Unfortunately (or fortunately?), just about all egg cartons are good for is
          holding eggs. The foam used in egg cartons is too thin to serve as a blocker and though their shape is similar
          to many acoustic foams, the material does not actually absorb sound. </p>
      </div>
      <div class="acoustics-standard--content-item">
        <h3 class="acoustics-standard--heading">Curtains</h3>
        <p class="acoustics-standard--text">Curtains have some very limited value as sound absorbers if they are
          particularly thick. But in general, I
          don’t care what kind of drapes you have when determining how to improve the acoustics of a room. The impact is
          negligible. Even more dubious is people buying curtains to BLOCK sound. If you’re going to try and block
          sound, remember the principles of soundproofing! The material needs to be dense, limp, and airtight. Get HEAVY
          curtains with a high STC rating, and then install them as airtight as you can. If you have massive gaps at the
          edges, sound is going to travel right around those new curtains you spent up for.</p>
      </div>
    </div>
  </div>
</div>
<section class="acoustics-standard materials">
  <div class="acoustics-standard--wrapper">
    <h2 class="materials__headline">Types of Acoustic Materials</h2>
    <div class="materials__byline-wrap">
      <span class="materials__byline">There are a number of myths out there on do-it-yourself acoustic hacks, but most
        of
        them have no merit at
        all.</span>
      <span class="materials__byline">Let’s take a look at a few of the most common:</span>
    </div>
    <div class="materials__block-wrap">
      <div class="materials__block">
        <img class="materials__img" type="image/jpg" src="/content/acoustics-room.jpg" alt="acoustic panels in room">
        <div class="materials__test-wrap">
          <h3 class="materials__title">Acoustic Wall Panels</h3>
          <p>Acoustic panels are what you probably imagine when I say “acoustic materials.” They are square blocks of
            fiberglass-based or poly-based foam, often 2 inches thick and around 24 inches wide. Acoustic panels have
            commercial and residential uses, for everything from personal music studios to school cafeterias. We have an
            awesome set of designer quality, fabric wrapped panels you should take a look at.</p>
          <a class="materials__cta" href="/acoustics/acoustic-panels/">Shop Products →</a>
        </div>
      </div>
      <div class="materials__block">
        <img class="materials__img" type="image/jpg" src="/content/acoustics-foam.jpg" alt="acoustic foam">
        <div class="materials__test-wrap">
          <h3 class="materials__title">Acoustical Foam</h3>
          <p>Acoustic foam is made of fiberglass, polyurethane foam, polyester, or melamine foam. It’s sold in a variety
            of shapes and sizes, commonly in a wedge, pyramid, or eggcrate pattern. Different shapes serve different
            purposes and it’s not uncommon to see several varieties in one space. We like to use melamine foam, because
            it’s Class A fire rated and a really good sound absorber.</p>
        </div>
      </div>
      <div class="materials__block">
        <img class="materials__img" type="image/jpg" src="/content/acoustics-baffles.jpg"
          alt="acoustic baffles in room">
        <div class="materials__test-wrap">
          <h3 class="materials__title">Acoustical Baffles</h3>
          <p>Acoustic baffles are the large, poly-fiber structures measuring that are often hung from high ceilings.
            Baffles are commonly used for <a href="/soundproofing/office-soundproofing/">office noise reduction</a>
            as well as in schools, libraries, and other public places. Baffles are great for improving
            sound quality in large, open spaces.</p>
        </div>
      </div>
      <div class="materials__block">
        <img class="materials__img" type="image/jpg" src="/content/acoustics-tiles.jpg" alt="acoustic tiles in ceiling">
        <div class="materials__test-wrap">
          <h3 class="materials__title">Acoustic Ceiling Tiles</h3>
          <p>Acoustic ceiling tiles are mineral-fiber tiles usually measuring less than an inch thick. They’re most
            often
            installed in homes and offices as a relatively inexpensive solution to poor indoor acoustics by replacing
            standard ceiling tiles in a dropped ceiling.</p>
        </div>
      </div>
    </div>
    <p>There you have it! We covered everything from the difference in soundproofing and acoustics to the most common
      types of acoustic materials. A lot of science and math goes into the spaces we often take for granted every day.
      No matter your project, just remember the key to improving the sound quality in your home or workplace is to
      understand what challenge you’re facing and attacking the problem at the source. The results will be worth it.</p>
  </div>
</section>

{{> components/redesign/components/klaviyo-form }}
