<section class="content content--blue content--three-col"
  style="background-image:url('{{cdn 'webdav:ssa-logo-icon-bg.svg'}}');">
  <div class="container">

    <h3>
      Learn the Thermal Insulation Basics Before Spending Money
    </h3>
    <p>
      Heat travels by three different methods. To keep cool, you have to redirect the heat or
      insulate yourself from it. Let’s take a second to learn about the types of heat, and then
      we’ll show you how to protect and improve your vehicle.
    </p>
  </div>
  <div class="content__inner-wrapper">
    <div class="content__col">
      <h4 class="h4 h4--blue">Conduction</h4>
      <p>
        Condution of heat occurs when two objects are physically touching each other. A good example
        is a frying pan resting on top of a stove’s hot electric burner. The pan and burner are in
        physical contact, and that contact allows the transfer of heat from the stove to the frying
        pan. Conduction in vehicles primarily happens inside the engine.
      </p>
    </div>
    <div class="content__col">
      <h4 class="h4 h4--blue">Convection</h4>
      <p>
        Convection occurs when heat travels between two objects that are not physically touching.
        One object heats the air molecules around it, and then the hot air carries that heat to the
        other object, increasing its temperature. Convection is a big problem in cars, because the
        engine and exhaust heat transfers through the air into the cabin.
      </p>
    </div>
    <div class="content__col">
      <h4 class="h4 h4--blue">Radiation</h4>
      <p>
        Radiation is another problem for cars. We’re all impacted by the sun, which radiates a huge
        amount of heat energy to the roof, trunk lid and doors of your car. Even if there was a
        vacuum around your car, the energy of the sun’s heat would still travel to it via radiation.
        Heat also comes from inside the car, radiating from the engine block and exhaust system.
      </p>
    </div>
  </div>
  <div class="container">
    <p style="margin-bottom:0;">
      To solve heat related problems you need to:
    </p>
    <ol style="margin-top:0;margin-left:2%;">
      <li>
        Reflect radiant heat away from the car’s interior, and
      </li>
      <li>
        Add insulation to capture as much of the remaining heat as possible
      </li>
    </ol>
    <p>
      Adding <a href="/sound-deadening/ultimate-car-insulation-guide/">automotive insulation</a>
      to your vehicle can make a big difference. When applied correctly, a
      high quality <a href="/heat-shield/">heat shield</a> and insulation can stop over 90% of heat
      transfer. You’ll literally feel the difference.
    </p>
  </div>
</section>

<section class="content content--gray content--two-col-wide">
  <div class="container">
    <h3 style="text-align:center;">What Makes an Effective Heat Barrier?</h3>
  </div>
  <div class="content__inner-wrapper">
    <div class="content__col">
      <p>
        It depends on what type of heat you’re dealing with. If it’s convection, you’re looking for
        an insulator with a high r-value. The r-value is going to depend on the type of material and
        its thickness. If you’re stopping radiant heat, you want to know what percentage of the heat
        the barrier will reflect.
      </p>
      <p>
        Keep in mind that there are a ton of variables in heat transfer. It can be hard to know what
        to do, so we boiled it down to a few key tips:
      </p>
      <ul>
        <li>
          A heat barrier should have a smooth, metallic surface and reflect a high percentage of
          radiant energy (good barriers are typically 97%+). Face the barrier towards the heat
          source to reflect radiant heat.
        </li>
        <li>
          R-value, fire rating, thermal rated max temperature, and reflectivity all tell you
          something about how well a material insulates or reflects heat.
        </li>
        <li>
          Sometimes the best defense against heat is just space for airflow. The more airflow, the
          more heat that travels by convection is carried away.
        </li>
      </ul>
    </div>
    <div class="content__col">
      <p>
        At Second Skin, we like to use high R-value, lightweight, multi-layer materials in our
        vehicles.
      </p>
      <p>
        Our Heat Wave Pro thermal insulation blanket is made by filling two strong foil outer layers
        with a jute material and natural cotton denim fibers. The jute and denim are treated for
        fire, mold, and mildew resistance. Heat Wave Pro has a Class A fire rating and meets fire
        resistance standards (FMVSS 302).
      </p>
      <p>
        The reinforced foil fabric is laminated to both sides of the jute material to increase
        radiant reflection and add durability. The natural fibers reduce convectional heat transfer
        and will insulate your car from extreme temperatures. This thermal-acoustic barrier will
        block heat and reduce noise generated from engines, exhaust, and transmissions.
      </p>
      <p>
        For the best results, apply Heat Wave Pro on top of our Damplifier or Damplifier Pro
        soundproofing material. The thick foil layer on our Damplifier products also acts as a
        thermal insulator and the combination will give you excellent heat control.
      </p>
    </div>
  </div>
</section>

<section class="content content--two-col-vcenter">
  <div class="content__inner-wrapper">
    <div class="content__col">
      <h3>
        Need to Block Even
        <span>More Heat?</span>
      </h3>
    </div>
    <div class="content__col">
      <p>
        For even better radiant heat reflection, we offer our Mega Block thermal insulation
        material, which will handle up to 1,000&deg;F. Mega Block was specifically engineered to
        handle the most extreme temperature environments, even beyond what you typically see in a
        vehicle.
      </p>
      <p>
        Instead of jute and denim, Mega Block uses a hydrophobic melamine foam with an aluminum
        foil-faced composite bonded on top. The <a href="/melamine-foam/">melamine foam</a> acts as a blanket to reduce
        convectional heat, and upgrading to the treated foam material greatly improves sound
        absorption. It’s still lightweight and flexible while being easy to install with a peel
        &amp; stick backing.
      </p>
    </div>
  </div>
</section>

<section class="content content--light">
  <div class="container">
    <h3>Three Common Thermal Barriers</h3>
    <ul>
      <li>Under the roof of your vehicle</li>
      <li><a href="/heat-insulation/hood-insulation/">Under hood insulation</a> for your vehicle</li>
      <li>Around the cold air intake system</li>
    </ul>
    <h4 class="h4 h4--blue">
      Insulate Your Roof &ndash; And Stay Cool!
    </h4>
    <p>
      Remember earlier about your hot car on a summer day? To solve that problem, you need to place
      a layer of protection between the headliner and roof of your car. Upgrading your
      <a href="/heat-insulation/upgrading-car-roof-headliner-insulation/">headliner insulation</a> is
      one of the best things you can do to increase comfort in your vehicle.
    </p>
    <p>
      Note that if you already installed a <a href="/sound-deadening/">Second Skin sound deadener</a>
      on the car roof, you've already added some thermal protection. If no sound deadening is present
      or a cheap deadener was used, you may want to add more.
    </p>
    <p>
      Our Heat Wave Pro, the jute and denim material with foil on each side, works extremely well
      between the headliner and roof of a car. Besides having a very high thermal value, it also
      does a good job of absorbing sound. That’s a bonus, especially if your car has a great audio
      system.
    </p>
    <p>
      For even better results, you could install our hydrophobic melamine foam product &ndash; it’s
      called Mega Zorbe. Mega Zorbe has better acoustical properties as well as a high thermal
      resistance. We also offer <a href="/closed-cell-foam/">closed cell foam sheets</a> that are a
      little more durable and also have a high r-value.
    </p>
    <h4 class="h4 h4--blue">
      Insulate the Hood &ndash; Protect Your Paint
    </h4>
    <p>
      This is an absolute must if you have an expensive paint job. Otherwise, engine heat will ruin
      the paint several years early. First, apply our Damplifier on the metal surface of the hood,
      and then install Mega Block or Heat Wave Pro to reflect radiant heat. You’ll cut down on
      engine noise, while making the top of your hood cool to the touch.
    </p>
    <h4 class="h4 h4--blue">
      Insulate the Cold Air Intake &ndash; Increase Engine Performance
    </h4>
    <p>
      Cold air intake systems are made of plastic. The problem is, plastic easily allows engine
      compartment heat to warm the air inside the cold air tract, defeating its purpose. To combat
      that, and give your engine a breath of cool, dense air, with an <a
        href="/heat-insulation/cold-air-intake-heat-shield/">air intake heat shield</a>.
      Protect the cold air intake tract with some Thermal Block.
    </p>
  </div>
</section>

<section class="content content--narrow">
  <div class="container">
    <h3 style="text-align:center;">Second Skin Can Help!</h3>
    <p>
      Cars can often be made more comfortable with additional thermal barriers. Hot rods,
      restorations, and high-performance vehicles can all be more fun to drive with some basic
      heat control. Whether your goal is comfort or performance, we can help you achieve it.
    </p>
    <p>
      Second Skin can help you figure out what is best for your vehicle. Before spending money,
      call us for help on your project!
    </p>
    <p>
      There is a lot to know, but it can be easy with a little help. We’re here to help you build
      the vehicle you want to drive.
    </p>
  </div>
</section>

{{> components/redesign/components/klaviyo-form }}
