<div class="heat-shields-standard">
  <div class="content content--narrow" style="padding-bottom:0;">
    <div class="container">
      {{> components/products/videos-products embedCode="jnvhzg-pmj0" }}
    </div>
  </div>
  <div class="heat-shields-standard__description">
    <p>Heat shields are designed to protect structures from extreme temperatures by reflecting heat or preventing its transfer. A good
      heat shield needs to have high thermal resistance and thermal emittance, so it can withstand high temperatures and
      reflect and release the heat away from itself. Heat shields are commonly used in the automotive and aerospace
      industries.</p>

    <p>Second Skin offers several types of engine and exhaust heat shields. Mega Block is temperature rated to 1000&deg;F and is backed
      with insulating melamine foam for best-in-class <a href="/heat-insulation/">automotive heat insulation</a>. Thermal Block
      is temperature rated to
      800&deg;F and backed with a thin layer of <a href="/melamine-foam/">hydrophobic melamine foam</a> for spot heat fixes.
      Both heat shields are lightweight, 98% reflective, and include a peel and
      stick backing for easy application. If you are concerned about heat in your car, a heat shield can be a great
      solution to increase the longevity of your vehicle and your comfort level while driving it.</p>
  </div>
  <section class="heat-shields-standard__types">
    <div>
      <h2>Keep Your Car Cool and Comfortable</h2>
      <div class="heat-shields-standard__type-wrap">
        <div>

        </div>
        <img class="heat-shields-standard__types-img-m" type="image/jpg"
          src="/content/heat-shields/heat-shield-car-m.jpg" alt="heat shield in car">
        <img class="heat-shields-standard__types-img-d" type="image/jpg" src="/content/heat-shields/heat-shield-car.jpg"
          alt="heat shield in car">
        <p class="heat-shields-standard__types-text heat-shields-standard__bg-grey">Second Skin’s heat shields protect
          structures from extreme
          temperatures by reflecting and insulating from
          unwanted heat. We use highly reflective, heat resistance materials to redirect radiant heat and insulate from
          heat transfer. No matter the heat issue in your vehicle, we can help you solve it and keep you running at peak
          performance.</p>
      </div>
    </div>
    <div>
      <h2>Preserve Components and Wiring</h2>
      <div class="heat-shields-standard__type-wrap">
        <img class="heat-shields-standard__types-img-m" type="image/jpg"
          src="/content/heat-shields/heat-shield-wiring-m.jpg" alt="heat shield in car">
        <div class="heat-shields-standard__bg-green">
          <p class="">A car heat shield is an important tool to protect key components and bodywork from heat damage. The heat given
      off by your engine and exhaust can reduce engine performance, increase the
      temperature in your car cabin, damage mechanical parts, and even reduce the expected life of your paint
      job. Applying heat shield material as <a href="/heat-insulation/hood-insulation/">hood insulation</a>
      or <a href="/heat-insulation/car-firewall-insulation/">firewall insulation</a> will significantly mitigate these issues
      and help extend the life of your car or truck.</p>
          <div class="heat-shields-standard__cta-wrap">
            <a href="https://www.secondskinaudio.com/shop/?_bc_fsnf=1&brand=44" class="heat-shields-standard__cta">SHOP
              PRODUCTS</a>
          </div>
        </div>
        <img class="heat-shields-standard__types-img-d" type="image/jpg"
          src="/content/heat-shields/heat-shield-wiring.jpg" alt="wiring">
      </div>
    </div>
    <div>
      <h2>American Made Heat Shields for Automotive and Marine</h2>
      <div class="heat-shields-standard__type-wrap">
        <img class="heat-shields-standard__types-img-m" type="image/jpg"
          src="/content/heat-shields/heat-shield-marine-m.jpg" alt="heat shield in car">
        <img class="heat-shields-standard__types-img-d" type="image/jpg"
          src="/content/heat-shields/heat-shield-marine.jpg" alt="marine parts">
        <p class="heat-shields-standard__types-text heat-shields-standard__bg-grey">Second Skin has been making sound
          insulation and heat shield products
          in the USA since 2000. These high
          performance materials are used for automotive, home, construction, aerospace, marine, robotics, and military
          applications. We are committed to helping you solve your heat issue through expert advice, premium materials,
          and a satisfaction guarantee. Reach out today!</p>
      </div>
    </div>
  </section>
</div>

{{> components/redesign/components/klaviyo-form }}
