<section class="hero hero--hub-page" style="background-image:url('{{cdn 'webdav:hub-hero-bg.jpg'}}');">
    <div class="container">
        <h1>
        {{#if category.name '===' 'Sound Deadening'}}
            Stop unwanted noise
            <span>with the right sound deadening materials.</span>
        {{else if category.name '===' 'Sound Blocking'}}
            Stop Noise in Its Tracks
            <span style="display:block;">With Sound Blocking Material</span>
        {{else if category.name '===' 'Sound Absorbing'}}
            <div style="max-width:700px;margin:0 auto;">
                Looking for Peace and Quiet Inside Your Vehicle? Quiet Things Down with Sound Absorption
                Materials
            </div>
        {{else if category.name '===' 'Heat Insulation'}}
            <div style="max-width:800px;margin:0 auto;">
                Increase Your Comfort &ndash; Protect Your Vehicle with Thermal Insulation and Heat
                Barriers
            </div>           
        {{else if category.name '===' 'Soundproofing'}}
            <div style="max-width:757px;margin:0 auto;font-size:36px;">
                A Complete Guide to Soundproofing and How to Soundproof a Room
            </div>
        {{else}}
            {{category.name}}
        {{/if}}
        </h1>
        <a href="/shop/" class="btn-new btn-new--primary">Shop Products</a>
    </div>
</section>

{{#if category.name '!==' 'Soundproofing'}}
<div class="content content--narrow content--blue">
    <div class="container">
    {{#if category.name '===' 'Sound Deadening'}}

        {{> components/products/videos-products embedCode="ChKj4zra4jk" }}
        <p>
            Sound deadening is the hidden secret behind the upholstery of any successful 
            <a href="/sound-deadening/car-soundproofing/">automotive soundproofing</a> project.
            If you didn't already know that, you're in luck because you've stumbled into the right
            place. If you did know that and have a noise or heat issue, we look forward to helping
            you solve it.
        </p>
        <p>
            <strong>We're here to help you find the best <a href="/sound-deadening/ultimate-car-insulation-guide/">
            car insulation</a> solution for
            your vehicle.</strong> Whether you have rattling metal distorting your speakers, a car
            restoration project, or want to create a bubble of comfort for yourself as you drive
            down the highway, we have the high quality products that will get you where you want to
            go.
        </p>
        <p>
            Welcome to Team Second Skin. We'll take the time to explain what's going on in your car,
            while teaching you some of the science behind noise control. Or we'll keep it simple and
            just tell you what to do &ndash; you decide!
        </p>
    {{else if category.name '===' 'Sound Blocking'}}

    {{> components/products/videos-products embedCode="hYz4seuGYuA" }}

    <p>
            Road noise is a &hellip; frustrating part of driving, and some cars are worse than
            others. Whether you have an expensive audio system or are tired of having to yell while
            driving on the highway, investing in some quality sound blocking material will give you control
            over what you hear in your car cabin.
        </p>
        <p>
            Mass loaded vinyl is a high quality noise abatement material that 
            can substantially decrease the noise level in your car cabin, with the best results if installed 
            correctly alongside effective sound deadening. It's possible to get a 95%+ reduction in sound pressure
            and roughly 2/3 reduction in the perceived volume you hear. Second Skin is here to help you get those
            type of results in YOUR vehicle.
        </p>
        <p>
            <strong>Get to Know Noise Barriers</strong><br>
            A good noise barrier will prevent sound waves from passing through it. <i>Architectural Acoustics</i> 
            by David Egan summarizes the current building standards saying “The ideal sound isolating construction
            would be heavy, limp, and airtight.” The same materials and principles used to block sound in a home or apartment are
            used in a vehicle.  Just like you'd want to avoid hearing your noisy neighbor through your walls,
            ceilings, and floors, Second Skin's sound blocking materials will 
            <a href="/sound-deadening/eliminate-road-noise/">wind noise</a> and keep unwanted sound outside your car cabin.
        </p>
        <p>
            As with anything else you buy for your vehicle, noise barriers come in a wide variety of
            material quality &ndash; ranging from incredible to ineffective (and even smelly). We
            want to make sure you understand the fundamentals of blocking sound waves so that you
            can make an informed decision about what’s right for you.
        </p>
    {{else if category.name '===' 'Sound Absorbing'}}

    {{> components/products/videos-products embedCode="MXMkNJdJJE4" }}
    
        <p>
            Noise has been shown to decrease the quality of our living spaces and add stress to our
            lives. That’s why the residential soundproofing market has exploded over the past few
            decades. As the market grew, more products were introduced, with soundproofing foam
            being one of the leading solutions. You’ve likely seen acoustic foam used in
            residential, commercial, or industrial settings, and it also has a role to play in
            vehicle soundproofing.
        </p>
        <p>
            Soundproof foam is a useful tool in your toolkit to create a more comfortable car
            environment. The sound absorbing and decoupling done by foam products plays a key role
            in decibel reduction and improving your car’s acoustics, often making them a necessary
            supplement to <a href="/sound-deadening/">sound deadening</a> and sound blocking material. 
        </p>
        <p>
            We spend a lot of time in our vehicles, so It should be a comfortable space. Soundproof
            foam will reduce interior noise and echoes to give you the best environment for your car
            audio and your day-to-day life.
        </p>
    {{else if category.name '===' 'Heat Insulation'}}

    {{> components/products/videos-products embedCode="rEAnYGZKvuM" }}
    
        <p>
            Heat insulation is a very practical solution. We insulate our houses to save energy and
            create more comfortable living environments. The average person spends anywhere from
            days to years of his or her life in a vehicle, so we’ve developed a product line to
            ensure your car feels like home.
        </p>
        <p>
            Thermal insulation solves two problems: climate control inside your vehicle and
            heat-related issues under the hood.
        </p>
        <p>
            By controlling the climate inside your vehicle, you can reduce the impact of the sun on
            a hot summer day and ensure more heat stays in your car in the winter.
        </p>
        <p>
            Thermal barriers also help with engine related heat issues to prevent engine and exhaust
            heat from coming through the firewall and floorboards. Investing in <a href="/sound-deadening/installing-car-floor-insulation/">
            auto floorboard insulation</a> will keep heat out of the cabin compartment and keep you
            comfortable. These same materials can also be used to preserve the paint on your hood.
        </p>
        <p>
            Second Skin’s thermal barriers and heat insulation are easy to install, economical, and
            will greatly increase the comfort level and enjoyment of any vehicle.
        </p>
    {{/if}}
    </div>
</div>
{{/if}}

<section class="featured-products">

    {{#if template_file '!==' 'pages/home'}}
        {{#if banners.top}}
        <div class="banners" data-banner-location="top">
            <div class="banner">
                {{{limit banners.top 1}}}
            </div>
        </div>
        {{/if}}
    {{/if}}

    <div class="container">
        <h3>Popular {{category.name}} Materials</h3>
        {{#if category.products}}
            <ul class="featured-products__product-list">
                {{#each category.products}}
                    <li class="featured-products__product-item">
                        <div class="featured-products__product featured-product">
                            <a class="featured-product__image-link" href="{{url}}">
                                <img class="lazyload" data-sizes="auto" src="{{cdn 'img/loading.svg'}}" data-src="{{getImage image 'gallery_size' (cdn theme_settings.default_image_product)}}" alt="{{image.alt}}" title="{{image.alt}}">
                            </a>
                            <div class="featured-product__info">
                                <h4><a href="{{url}}">{{name}}</a></h4>
                                <footer class="featured-product__footer">
                                    <div class="featured-product__info-row">
                                        <span class="featured-product__price">
                                            {{#or customer (if theme_settings.restrict_to_login '!==' true)}}
                                                {{> components/products/price price=price}}
                                            {{else}}
                                                {{> components/common/login-for-pricing}}
                                            {{/or}}
                                        </span>
                                        <div class="trustspot-inline-category" data-product-sku="{{id}}"></div>

                                    </div>
                                    <a href="{{url}}" class="btn-new btn-new--primary">Shop Now</a>
                                </footer>
                            </div>
                        </div>
                    </li>
                {{/each}}
            </ul>
        {{/if}}
    </div>
</section>

{{#if category.name '===' 'Sound Deadening'}}
    {{> components/redesign/pages/sound-deadening category=category}}
{{else if category.name '===' 'Sound Blocking'}}
    {{> components/redesign/pages/sound-blocking category=category}}
{{else if category.name '===' 'Sound Absorbing'}}
    {{> components/redesign/pages/sound-absorbing category=category}}
{{else if category.name '===' 'Heat Insulation'}}
    {{> components/redesign/pages/heat-insulation category=category}}
{{else if category.name '===' 'Soundproofing'}}
    {{> components/redesign/pages/soundproofing category=category}}
{{/if}}
