<section class="content">
  <div class="container">
    <h3 style="text-align:center;">
      Avoid Mistakes. Know What Foam Will Do&hellip;
      <span>And What It Won't</span>
    </h3>
    <p>
      Don’t buy a piece of foam, attach it somewhere in your car, and expect your car to be any
      quieter. Foam will not “block” noise like <a href="/sound-blocking/">mass loaded vinyl</a>.
      It also will not work as a vibration damper for metal like our butyl rubber mat or liquid sound deadener.
    </p>
    <p>
      Foam will, however, absorb airborne sound waves. The frequency and total amount of sound
      absorbed depends on the foam.
    </p>
    <table class="table-new">
      <thead>
        <th width="220">Type</th>
        <th width="255">Product</th>
        <th>Impact</th>
      </thead>
      <tbody>
        <tr>
          <th>Sound Deadening</th>
          <td>Damplifier Pro, Spectrum</td>
          <td>Stops noise from structural vibrations by deadening the metal</td>
        </tr>
        <tr>
          <th>Sound Blocking</th>
          <td>Luxury Liner Pro</td>
          <td>Fused foam and MLV act as a heat and noise barrier</td>
        </tr>
        <tr>
          <th>Sound Absorbing</th>
          <td>OverKill Pro</td>
          <td>Closed cell foam decouples hard surfaces</td>
        </tr>
        <tr>
          <th>Sound Absorbing</th>
          <td>Mega Zorbe</td>
          <td>Open cell foam absorbs sound waves</td>
        </tr>
      </tbody>
    </table>
  </div>
</section>

<section class="content content--gray content--two-col-vcenter">
  <div class="content__inner-wrapper">
    <div class="content__col">
      <h3>
        Foam Products Absorb
        <span>Airborne Noise</span>
      </h3>
    </div>
    <div class="content__col">
      <p>
        Think of <a href="/soundproofing/soundproof-foam-vs-soundproof-panels/">soundproof foam</a> as a sponge, 
        but instead of absorbing water it absorbs noise.
        Unlike a hard metal surface which will reflect sound waves, the porous foam surface allows
        sound waves to penetrate it. Once inside, the wave reverberates around the interior of the
        foam until it runs out of energy or it exits. Even when sound waves exit prior to
        dissipating, they will have less energy than when they entered. The thicker the foam, the better it
        will be at absorbing noise, especially <a href="/acoustics/low-vs-high-frequency-sound/">low frequency sound</a> waves.
      </p>
      <p>
        For vehicles, we prefer to use thinner cuts of our acoustic foam because space is limited and the flexibility
        and ease of fitting makes it more practical. For home or commercial <a href="/soundproofing/">sound proofing</a> projects, 
        foam is often chosen for for <a href="/acoustics/reduce-echo-in-a-room/">echo reduction</a> because 
        people don't know what else to buy. In most situations, you'll want to use
        <a href="/acoustics/fabric-wrapped-acoustic-panels/">acoustic fabric panels</a> or other <a href="/acoustics/">acoustic material</a>
        options for increased durability and/or better aesthetics hanging on a wall.
      </p>
    </div>
  </div>
</section>

<section class="content content--light content--two-col-wide">
  <div class="container">
    <h3 style="text-align:center;">What Type of Foam Makes a Good Sound Absorber?</h3>
    <p>
      If you’re looking to absorb sound, you’re looking for an open cell foam. Open cell foam excels
      at absorbing mid-to-high frequency sound waves and is used in everything from gymnasiums to
      churches, although for commercial and residential applications we'd usually recommend you go with
      <a href="/acoustics/acoustic-panels/">acoustic panels</a>.
    </p>
    <p>
      There are a ton of foam products out there, but most of them are not much use in your vehicle.
      We’ll get back to that, but to understand how foams are evaluated – you need to be able to
      read a chart.
    </p>
  </div>
  <div class="content__inner-wrapper">
    <div class="content__col">
      <img src="{{cdn 'webdav:absorbing-chart.jpg'}}" alt="Chart">
    </div>
    <div class="content__col">
      <p>
        This chart shows you how effective the product is at absorbing different types of sound.
      </p>
      <ul>
        <li>
          The y-axis ranges from 0 to 1 and shows the percentage of sound absorbed. 1 = 100%
          absorption
        </li>
        <li>
          The x-axis shows a range of hertz, indicating the sound wave’s frequency. In the
          soundproofing industry, an STC rating measures effectiveness from a standard range of 125
          Hz to 4000 Hz &ndash; so many tests cover those frequencies.
        </li>
        <li>
          Each colored line represents a different thickness level at which the foam was tested. A
          thicker foam will absorb more sound.
        </li>
      </ul>
    </div>
  </div>
  <div class="container">
    <p>
      Success on this chart means absorbing as much sound as possible, while keeping the foam as
      thin as possible. It’s an important measure of quality, but you need more than that to be good
      enough to put in a vehicle.
    </p>
  </div>
</section>

<section class="content content--blue">
  <div class="container">
    <h3 style="text-align:center;">Foam in Vehicles: You Need 3 Things</h3>
    <p>
      For a foam to make the cut to go in a Second Skin vehicle, it needs to do three things:
    </p>
    <ol class="h4 h4--blue">
      <li>Designed for wear and tear</li>
      <li>Resist the elements</li>
      <li>Enhance sound quality</li>
    </ol>
    <p>
      Our foam products go through rigorous testing to ensure they can take a beating. These foam panels
      aren’t going on a <a href="/sound-blocking/soundproofing-walls/">soundproof wall</a>
      to spend the rest of their lives 30 feet in the air. You’re installing
      them in a modern miracle of design and technology that is constantly exposed to heat, wind and
      rain, while traveling at sometimes lethal speeds on all sorts of terrain. This foam needs to
      be able to take a punch. But what foam do you need?
    </p>
    <p>
      <strong>
        Open Cell versus Closed Cell Foam
      </strong>
    </p>
    <p>
      If you're comparing <a href="/heat-insulation/open-cell-foam-vs-closed-cell-foam/">open cell versus closed cell
        foam</a>,
      open cell foam is a less sturdy product and will absorb water, so it needs a hydrophobic treatment to
      prepare the foam for vehicle use. <strong>Do not put foam that isn't water resistant in your
        vehicle, especially not the door panels!</strong> The trapped moisture creates the potential
      to grow black mold, which can literally kill you. <a href="/closed-cell-foam/">Closed cell foam</a>
      is denser and more rigid. It’s not very good at absorbing most sound waves, although it will do
      a little bit to stop low frequency sounds, such as engine and road noise.
    </p>
  </div>
</section>

<section class="content content--two-col-wide">
  <div class="container">
    <table class="table-new">
      <thead>
        <th>Product</th>
        <th>Type of Foam</th>
        <th>Touch &amp; Feel</th>
        <th>Sound Absorbed</th>
        <th>Other Uses</th>
      </thead>
      <tbody>
        <tr>
          <th>Mega Zorbe</th>
          <td>Open Cell Foam</td>
          <td>Soft and flexible</td>
          <td>Mid-to-high frequency noise</td>
          <td>Class A fire rated thermal insulator</td>
        </tr>
        <tr>
          <th>OverKill</th>
          <td>Closed Cell Foam</td>
          <td>Dense and rigid</td>
          <td>Minimal; some low frequency noise</td>
          <td>Decouples hard surfaces</td>
        </tr>
      </tbody>
    </table>
  </div>
  <div class="content__inner-wrapper">
    <div class="content__col">
      <h4 class="h4 h4--blue">Mega Zorbe</h4>
      <p>
        Our Mega Zorbe product is a &frac12;&rdquo; thick <a href="/melamine-foam/">melamine foam</a>
        that we’ve treated to be more durable and hydrophobic. It’s great for <a href="/heat-insulation/">thermal
          insulation</a>,
        absorbs an impressive amount of noise, and comes with the option to include an adhesive backing
        for easy application.
      </p>
    </div>
    <div class="content__col">
      <h4 class="h4 h4--blue">Overkill</h4>
      <p>
        Our OverKill line of products come in 1/8&rdquo; and 3/8&rdquo; thicknesses and are
        excellent decouplers. OverKill’s primary uses are to squeeze it between plastic panels to
        stop rattles and to combine it with a mass loaded vinyl (like Luxury Liner) to create a
        noise barrier on top of your sound deadening. We have customers who swear they’ve shaved a
        couple decibels just by shoving OverKill behind cupholders.
      </p>
    </div>
  </div>
  <div class="container">
    <p>
      A common use for both Mega Zorbe and OverKill is to install it inside the door panel as an
      easy way to improve the acoustics of the door. Mega Zorbe is more effective, as it’ll absorb a
      lot of the back waves, but OverKill will help a bit too – similar to how putting a carpet in an empty
      room helps a bit with acoustics.
    </p>
  </div>
</section>

<section class="content content--light">
  <div class="container">
    <h3 style="text-align:center;">Second Skin Can Help!</h3>
    <p style="max-width:640px;margin:0 auto 3em;">
      If you’re looking for more help or advice on your project, give us a call. We’ll help you
      choose the right combination of products to get the best results. Put our years of experience
      to work and simplify your project!
    </p>
  </div>
</section>

{{> components/redesign/components/klaviyo-form }}
