
    /*
    Notes:
    1. After you make changes ALWAYS copy the code starting after the = sign on the first line and go to https://jsonlint.com/ to validate it.
       IF THE CODE DOESN'T VALIDATE IT WILL BREAK ALL OF THE THINGS. But no pressure.
    2. Sample with notes:
    "182": {                        <- For each video, the product ID is the first number in quotes.
        "embedCode": "Jxgq6dm0VsA",  <- this is the YouTube embed code. To find this, go to 
            YouTube, click Share then Embed. You will see iframe code that includes the src
            URL (src="https://www.youtube.com/embed/Jxgq6dm0VsA"). The code you need here is at the very end.
    }
*/


var productVideos = {
   
    "94": {
        "embedCode": "Y5SCpB8Z1xA"
    },
    "114": {
        "embedCode": "U0jtIh_T9gQ"
    },
    "116": {
        "embedCode": "RGF05tCwH2E"
    },
    "122": {
        "embedCode": "RGF05tCwH2E"
    },
    "127": {
        "embedCode": "maTGBl7lk3s"
    },
    "130": {
        "embedCode": "maTGBl7lk3s"
    },
    "136": {
        "embedCode": "Y5SCpB8Z1xA"
    },
    "139": {
        "embedCode": "5Hz8ZgDOPxI"
    },
    "141": {
        "embedCode": "5Hz8ZgDOPxI"
    },
    "143": {
        "embedCode": "eEINvGGPVAo"
    },
    "145": {
        "embedCode": ""
    },
    "170": {
        "embedCode": ""
    },
    "181": {
        "embedCode": ""
    },
    "182": {
        "embedCode": "RGF05tCwH2E"
    },
    "186": {
        "embedCode": "eEINvGGPVAo"
    },
    "217": {
        "embedCode": "kurtCQ5Opt8"
    },
    "203": {
        "embedCode": "kurtCQ5Opt8"
    },
     "133": {
        "embedCode": "Y5SCpB8Z1xA"
    },
    "216": {
        "embedCode": ""
    }
}

