<section id="acoustic-pro-custom-desc" class="acoustic-pro-panel-description">
    <div>
        <h3 class="acoustic-desc__title">DESCRIPTION</h3>
        <p><strong>Second Skin’s Acoustic Pro Wall and Ceiling Panels are designed to solve your acoustical needs</strong> while enhancing the aesthetic look of your space. With a variety of options to choose from including sizes, shapes and colors it is easy to create the perfect solution for your reverberation sound problems. Acoustic Pro Wall & Ceiling Panels provide the ultimate in acoustical performance with excellent NRC ratings as high as 1.15. They are available in two standard thicknesses: 1” and 2”. The panels are constructed with a 6-7# PCF rigid fiberglass absorber core. The panel edges are chemically hardened and are available in a square edge profile.</p>
        <a class="acoustic-desc__button" href="/content/pdf/SecondSkin_AcousticPro_DataSheet_FINAL.pdf" target="_blank">DOWNLOAD SPEC SHEET</a>
    </div>
    <div class="acoustic-desc__features-wrap">
        <div class="acoustic-desc__list--desktop acoustic-desc__list-1">
            <h3 class="acoustic-desc__title">FEATURES</h3>
            <ul class="acoustic-desc__list">
                <li>• High-quality, economical, multi-purpose panels</li>
                <li>• Excellent acoustical performance</li>
                <li>• Class A fire rated</li>
                <li>• Custom sizes and shapes</li>
            </ul>
        </div>
        <div class="acoustic-desc__list-2">
            <h3 class="acoustic-desc__title">FEATURES</h3>
            <ul class="acoustic-desc__list">
                <li>• Schools / Universities</li>
                <li>• Auditoriums</li>
                <li>• Houses of Worship</li>
                <li>• Office Spaces</li>
                <li>• Theaters / Studios</li>
                <li>• Multi-Purpose Rooms</li>
                <li>• Conference Rooms</li>
            </ul>
        </div>
    </div>
    <div class="acoustic-desc__features-wrap">
        <div class="acoustic-desc__list-1">
            <h3 class="acoustic-desc__title">FINISHES &amp; COLORS</h3>
            <span>Second Skin Acoustic Pro Wall &amp; Ceiling Panels are available in Guilford Anchorage 2335 in a variety of colors:</span>
            <img alt="colors for acoustic panels including birch, fossil, asteroid, onyx, red delicious, sunshine, green apple, lapis" class="acoustic-desc__img--desktop acoustic-desc__img--color-desktop" src="/content/acoustic-panels/acoustic-panel-colors-d.png">
            <img alt="colors for acoustic panels including birch, fossil, asteroid, onyx, red delicious, sunshine, green apple, lapis" class="acoustic-desc__img--mobile acoustic-desc__img--color" src="/content/acoustic-panels/acoustic-panel-colors-m.png">
            <a class="acoustic-desc__button" href="/content/pdf/SecondSkin_AcousticPro_ColorChart.pdf" target="_blank">DOWNLOAD COLOR CHART</a>
        </div>
        <div class="acoustic-desc__list-2">
            <h3 class="acoustic-desc__title">SHAPES &amp; SIZES</h3>
            <img alt="shapes including square, rectangle, plank, circle, hexagon and triangle" class="acoustic-desc__img--desktop acoustic-desc__img--shape" src="/content/acoustic-panels/acoustic-shapes-d.png">
            <img alt="shapes including square, rectangle, plank, circle, hexagon and triangle" class="acoustic-desc__img--mobile acoustic-desc__img--shape" src="/content/acoustic-panels/acoustic-shapes-m.png">
            <a class="acoustic-desc__button" href="/content/pdf/Panel_Sizes_CAD_Drawings.pdf" target="_blank">DOWNLOAD SHAPE DRAWINGS</a>
        </div>
    </div>
    <div class="acoustic-desc__features-wrap">
        <div class="acoustic-desc__list-1">
            <h3 class="acoustic-desc__title">MOUNTING HARDWARE</h3>
            <div class="acoustic-desc__d-flex acoustic-desc__img--wrapper">
                <figure class="acoustic-desc__figure">
                    <img alt="rotofast anchors" class="acoustic-desc__img--rotofast" src="/content/acoustic-panels/rotofast-anchors.png">
                    <figcaption class="acoustic-desc__figcaption">ROTOFAST ANCHORS <span>Included with Your Order</span></figcaption>
                </figure>
                <figure class="acoustic-desc__figure">
                    <img alt="impaling clip" class="acoustic-desc__img--clip" src="/content/acoustic-panels/impaling-clip.jpg">
                    <figcaption class="acoustic-desc__figcaption">IMPALING CLIP</figcaption>
                </figure>
            </div>
            <a class="acoustic-desc__button" href="/content/pdf/Rotofast_Snap-On_Mounting_Detail.pdf" target="_blank">DOWNLOAD MOUNTING DETAIL</a>
        </div>
        <div class="acoustic-desc__list-2">
            <h3 class="acoustic-desc__title">EDGE DETAIL</h3>
            <div class="acoustic-desc__img--wrapper">
                <figure class="acoustic-desc__figure">
                    <img alt="edge detail" src="/content/acoustic-panels/edge-detail.png">
                    <figcaption class="acoustic-desc__figcaption">SQUARE</figcaption>
                </figure>
            </div>
        </div>
    </div>
    <div class="acoustic-desc__features-wrap">
        <div class="acoustic-desc__list-1">
            <h3 class="acoustic-desc__title">ACOUSTICAL DATA</h3>
            <table class="acoustic-desc__table">
                <thead>
                    <tr>
                        <th>FREQ. (HZ)</th>
                        <th>1" PANELS</th>
                        <th>2" PANELS</th>
                    </tr>
                </thead>
                <tbody>
                    <tr>
                        <td>125</td> 
                        <td>0.14</td>
                        <td>0.22</td>
                    </tr>
                    <tr>
                        <td>250</td>
                        <td>0.27</td>
                        <td>0.81</td>
                    </tr>
                    <tr>
                        <td>500</td>
                        <td>0.80</td>
                        <td>1.24</td>
                    </tr>
                    <tr>
                        <td>1000</td>
                        <td>1.11</td>
                        <td>1.30</td>
                    </tr>
                    <tr>
                        <td>2000</td>
                        <td>1.14</td>
                        <td>1.21</td>
                    </tr>
                    <tr>
                        <td>4000</td>
                        <td>1.14</td>
                        <td>1.16</td>
                    </tr>
                    <tr class="bold">
                        <td>NRC</td>
                        <td>0.85</td >
                        <td>1.15</td>
                    </tr>
                </tbody>
            </table>
        </div>
        <div class="acoustic-desc__list-2">
            <h3 class="acoustic-desc__title">SUMMARY</h3>
            <span>Download our full spec sheet below:</span>
            <a class="acoustic-desc__button" href="/content/pdf/SecondSkin_AcousticPro_DataSheet_FINAL.pdf" target="_blank">DOWNLOAD SPEC SHEET</a>
        </div>
    </div>
</section>
