<section class="damplifier-pro-description">

  <div class="damplifier-pro-description__section-wrap damplifier-pro-description__bg-section">
    <h2 class="damplifier-pro-description__title damplifier-pro-description__title-blue">How Much Damplifier Pro Do I
      Need?</h2>
    {{> components/products/square-feet-calc title="" }}
  </div>

  <div class="damplifier-pro-description__section-wrap">
    <div class="container">
      <div>
        <h2 class="damplifier-pro-description__title damplifier-pro-description__title-blue">Why Choose Damplifer&nbsp;Pro?
        </h2>
        <span class="damplifier-pro-description__subtitle">Engineered to be #1 in damping. Designed to be #1 in your
          heart.</span>
      </div>
      <div class="damplifier-pro-description__image-block-wrap">
        <div class="damplifier-pro-description__image-block">
          <h3 class="damplifier-pro-description__blue-block">BEST DAMPING</h3>
          <img src="/content/damplifier-pro/BestDamping202.png" width="202" height="165" alt=""
            class="damplifier-pro-description__image-block-image">
          <span class="damplifier-pro-description__image-block-subtitle">Stop the vibrations. <span>Stop the
              noise.</span></span>
          <span class="damplifier-pro-description__image-block-tag">Up to 10x the performance
            <span>of cheap knock offs.</span></span>
        </div>
        <div class="damplifier-pro-description__image-block">
          <h3 class="damplifier-pro-description__blue-block">BEST THERMAL</h3>
          <img src="/content/damplifier-pro/BestThermal202.png" width="202" height="165" alt=""
            class="damplifier-pro-description__image-block-image">
          <span class="damplifier-pro-description__image-block-subtitle">Extreme tested from Death <span>Valley to the
              Frozen Tundra</span></span>
          <span class="damplifier-pro-description__image-block-tag">Thermal range: -75°F to 450°F</span>
        </div>
        <div class="damplifier-pro-description__image-block">
          <h3 class="damplifier-pro-description__blue-block">BEST ADHESION</h3>
          <img src="/content/damplifier-pro/BestAdhesion202.png" width="202" height="165" alt=""
            class="damplifier-pro-description__image-block-image">
          <span class="damplifier-pro-description__image-block-subtitle">Guaranteed to stick
            <span>until pigs fly.</span></span>
          <span class="damplifier-pro-description__image-block-tag">Won’t melt, out gas, or fall off.</span>
        </div>
      </div>
    </div>
  </div>


  <div class="container">
    <div class="damplifier-pro-description__section-wrap damplifier-pro-description__section-wrap-logos">
      <h2 class="damplifier-pro-description__title">Used and Trusted By The&nbsp;Best</h2>
      <div class="damplifier-pro-description__logo-wrap">
        <img src="/content/damplifier-pro/westcoast.png" alt="WestCoat Company Logo"
          class="damplifier-pro-description__logo">
        <img src="/content/damplifier-pro/graveyard-cars.png" alt="Graveyard Carz logo"
          class="damplifier-pro-description__logo">
        <img src="/content/damplifier-pro/smd.png" alt="SMD Logo" class="damplifier-pro-description__logo">
      </div>
    </div>
  </div>

  <div class="damplifier-pro-description__banner">
    <img src="/content/damplifier-pro/us-flag.png" alt="USA flag">
    <div>Damplifier Pro isn’t made in some overseas factory and brought here on a ship.
      <span>It’s made with care right here in the USA, supporting American manufacturing and jobs.</span>
    </div>
  </div>

  <div class="container">
    <div class="damplifier-pro-description__science damplifier-pro-description__section-wrap">
      <h2 class="damplifier-pro-description__title">The Science of Vibration Damping</h2>
      <span class="damplifier-pro-description__subtitle">Constraint layer dampers have been used for decades. Three
        basic inputs determine performance.
      </span>
      <img src="/content/damplifier-pro/construction-img.jpg" alt="damplifier mat"
        class="damplifier-pro-description__img">
      <div class="damplifier-pro-description__science-flex">
        <div>
          <h3 class="damplifier-pro-description__h3">Constraint Layer</h3>
          <span class="damplifier-pro-description__science-copy">The foil constraint layer should be sturdy and rigid.
            The Second Skin annealed foil is 3x as thick as the cheap knock offs.</span>
        </div>
        <div>
          <h3 class="damplifier-pro-description__h3">Butyl Composition</h3>
          <span class="damplifier-pro-description__science-copy">Butyl should be rubbery and elastic with a high tensile
            strength and elongation. Cheap fillers result in brittle, underperforming butyl.</span>
        </div>
        <div>
          <h3 class="damplifier-pro-description__h3">Butyl Thickness</h3>
          <span class="damplifier-pro-description__science-copy">For a mat to be high performance, it needs to be at
            least 1mm thick (40 mil). Performance increases with thickness, but eventually plateaus.
          </span>
        </div>

      </div>
    </div>
  </div>

  <div class="damplifier-pro-description__banner">
    <img src="/content/damplifier-pro/truck.png" alt="shipping truck" class="damplifier-pro-description__banner-truck">
    <div><strong>FREE Standard Shipping</strong> to any order in the mainland USA. Discounted rates to Canada.
    </div>
  </div>

  <div class="damplifier-pro-description__section-wrap damplifier-pro-description__section-install-wrap container">
    <h2 class="damplifier-pro-description__title">How Do I Install Damplifier Pro?</h2>
    <div class="damplifier-pro-description__install-flex">
      <div>
        <h3 class="damplifier-pro-description__h3">Recommended Tools</h3>
        <img src="/content/damplifier-pro/installation-m.png"
          alt="utility knife, hand roller, gloves and denatured alcohol" class="damplifier-pro-description__img-m">
        <img src="/content/damplifier-pro/installation-d.png"
          alt="utility knife, hand roller, gloves and denatured alcohol" class="damplifier-pro-description__img-d">
      </div class>
      <div class="damplifier-pro-description__install-content-wrap">
        <div>
          <h3 class="damplifier-pro-description__blue-block">STEP 1: PREPARE</h3>
          <p>Remove upholstery and plastic parts to expose the bare sheet metal.</p>
        </div>
        <div>
          <h3 class="damplifier-pro-description__blue-block">STEP 2: CLEAN</h3>
          <p>Ensure no debris, rust, or waxy oils are on the application surface.</p>
        </div>
        <div>
          <h3 class="damplifier-pro-description__blue-block">STEP 3: CUT</h3>
          <p>Cut the sheets with a utility knife to the appropriate size. Wear gloves.</p>
        </div>
        <div>
          <h3 class="damplifier-pro-description__blue-block">STEP 4: INSTALL</h3>
          <p>Remove paper liner. Flatten butyl to the surface with your hand. Roll out air pockets with a hand roller.
          </p>
        </div>
      </div>
    </div>
    <div class="damplifier-pro-description__btn-wrap">
      <a href="/content/pdf/damplifier-install-guide.pdf" class="damplifier-pro-description__installation-guide"
        target="_blank">DOWNLOAD INSTALLATION GUIDE</a>
    </div>
  </div>
</section>
