<section class="hero hero--home">
    <div class="hero__promo-image hero__promo-image--desktop" style="background-image:url({{cdn 'webdav:damplifier-pro.jpg'}})"></div>
    <div class="container">
        <div class="hero__content-wrapper">
            <div class="hero__content hero__content--main">
                <div class="hero__content-inner">
                    <h1 class="h3">Stop the noise. The best in automotive soundproofing and insulation.</h1>
                    <p>
                        Second Skin Audio offers the highest quality soundproofing material and thermal insulation
                        for your car, backed by unmatched customer service and a long history of
                        outstanding results.
                    </p>
                    <a class="btn-new btn-new--primary" href="/shop/">Shop Products</a>
                </div>
            </div>
            <div class="hero__content hero__content--promo">
                <div class="hero__promo-image hero__promo-image--mobile" style="background-image:url({{cdn 'webdav:damplifier-pro.jpg'}})"></div>
                <div class="hero__content-inner">
                    <h2>Our Most Popular Product</h2>
                    <h3 class="h3">Damplifier Pro</h3>
                    <p>
                        Engineered for high performance. Simple to install. Our Damplifier
                        Pro&trade; sound damping sheet uses 100% butyl rubber and an annealed,
                        black aluminum constraint layer to provide best-in-class automotive soundproofing
                        at an affordable price per square foot.
                    </p>
                    <a href="/sound-deadening/damplifier-pro" class="btn-new btn-new--secondary">Shop Product</a>
                </div>
            </div>
        </div>
    </div>
</section>
