<section class="hero hero--home hero--memorial-day">
    <div class="hero__promo-image hero__promo-image--desktop" style="background-image:url({{cdn 'webdav:memorial-day-hero.jpg'}})"></div>
    <div class="container">
        <div class="hero__content-wrapper">
            <div class="hero__content hero__content--main">
                <div class="hero__content-inner">
                    <h3>If you're serious about sound deadening, then buy the best.</h3>
                    <p>
                        Second Skin Audio offers the highest quality sound and thermal insulation
                        for your vehicle, backed by unmatched customer service and a history of
                        satisfied clients.
                    </p>
                    <a class="btn-new btn-new--primary" href="/shop/">Shop Products</a>
                </div>
            </div>
            <div class="hero__content hero__content--promo">
                <div class="hero__promo-image hero__promo-image--mobile" style="background-image:url({{cdn 'webdav:memorial-day-hero.jpg'}})"></div>
                <div class="hero__content-inner">
                    <h2>May 24-28</h2>
                    <h3>20% Off</h3>
                    <p>
                      Coupon Code
                    </p>
                    <h4>RESPECT20</h4>
                </div>
            </div>
        </div>
    </div>
</section>
