<section class="hero hero--home">
    <div class="hero__promo-image hero__promo-image--desktop" style="background-image:url({{cdn 'webdav:recommendations.jpg'}})"></div>
    <div class="container">
        <div class="hero__content-wrapper">
            <div class="hero__content hero__content--main">
                <div class="hero__content--top hero__content--promotop">
                    <div class="hero__promo-image hero__promo-image--mobile" style="background-image:url({{cdn 'webdav:recommendations.jpg'}})"></div>
                </div>
                <div class="hero__content-inner">
                    <h1 class="h3">You deserve a quiet, comfortable ride.<br />Guarantee it with the best soundproofing.</h1>
                    <p>
                        Not sure what materials you need?<br /> 
                        Answer a few quick questions to find out!
                    </p>
                    <a class="btn-new btn-new--primary" href="/recommendation/">Get Your Recommendation</a>
                </div>
            </div>
            <div class="hero__content hero__content--promo">
                <div class="hero__promo-image hero__promo-image--desktop" style="background-image:url({{cdn 'webdav:recommendations.jpg'}})"></div>
            </div>
        </div>
    </div>
</section>
