<section class="hero hero--home hero--soundmap">
  <div class="hero__promo-image hero__promo-image--desktop"></div>
  <div class="container">
      <div class="hero__content-wrapper">
          <div class="hero__content hero__content--main">
              <div class="hero__content--top hero__content--promotop">
                  <div class="hero__promo-image hero__promo-image--mobile">
                      <img class="lazyload" data-sizes="auto" data-src="{{cdn 'webdav:hero/soundmaporiginal.jpg'}}" alt="Second Skin Studio">
                  </div>
              </div>
              <div class="hero__content-inner">
                  <h1 class="h3">You deserve a quiet, comfortable ride.<br />Guarantee it with the best soundproofing.</h1>
                  <p>
                      Not sure what materials you need?<br /> 
                      Answer a few quick questions to find out!
                  </p>
                  <a class="btn-new btn-new--primary hero__cta" href="/recommendation/">Get Your Recommendation</a>
              </div>
              <div class="hero__content-inner hero__content-inner--mobile">
                <h1 class="h3">You deserve a quiet, comfortable ride.<br />Guarantee it with the best soundproofing.</h1>
                <p>
                    We've got everything you need<br /> 
                    to stop the noise.
                </p>
                <a class="btn-new btn-new--primary  hero__cta hero__cta--mobile" href="/shop/">Shop Our Products</a>
            </div>
          </div>
          <div class="hero__content hero__content--promo">
              <div class="hero__promo-image hero__promo-image--desktop lazyload" data-bg="{{cdn 'webdav:hero/soundmaporiginal.jpg'}}"></div>
          </div>
      </div>
  </div>
</section>
