<div class="product-icons-desktop">
    <span style="background-image:url('https://secondskinaudio.com/content/product-icons-rev2.svg')" class="icon1"></span>
    <span style="background-image:url('https://secondskinaudio.com/content/product-icons-rev2.svg')" class="icon2"></span>
    <span style="background-image:url('https://secondskinaudio.com/content/product-icons-rev2.svg')" class="icon3"></span>
    <span style="background-image:url('https://secondskinaudio.com/content/product-icons-rev2.svg')" class="icon4"></span>
</div>

<div class="product-icons-mobile">
    <span style="background-image:url('https://secondskinaudio.com/content/product-icons-mobile-rev2.svg')" class="icon1"></span>
    <span style="background-image:url('https://secondskinaudio.com/content/product-icons-mobile-rev2.svg')" class="icon2"></span>
    <span style="background-image:url('https://secondskinaudio.com/content/product-icons-mobile-rev2.svg')" class="icon3"></span>
    <span style="background-image:url('https://secondskinaudio.com/content/product-icons-mobile-rev2.svg')" class="icon4"></span>
</div>
